.container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin: 0 auto;
  background-color: #09828e;
}

.container h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}